body {
  background-color: #f6f0c4;
background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.jumbotron {
  text-align: center;
  
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
}

button {
  background: transparent;
}